<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
  </head>
  <body>
    <h1>Passing data from server to client</h1>

    <!-- Accessing data from server:  -->

    <h1>Welcome, <%=name%></h1>
    <p>email: <%=email%></p>
    <p>Age: <%=age%></p>
    <%if (isPremiumUser) {%>

    <p>Thank you for being a premium user</p>

    <%}%>

    <!-- Conditional rendering:  -->
    <p><%=(isLogin)? "Welcome you are logged In": "Login please" %></p>
  </body>
</html>
